{% load static %}
<script>
    $(".nav-link").on("click", function(){
       $(".nav-link").find(".active").removeClass("active");
       $(this).addClass("active");
    });
</script>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="/">HSA Recognition</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="ulNav">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'PredApp:prediction' %}">Prediction</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'PredApp:history' %}">History</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'PredApp:settings' %}">Settings</a></li>
            </ul>
        </div>
    </div>
</nav>